{
    /**
      Find more rules here : http://eslint.org/docs/rules/
      0 - turn the rule off
      1 - turn the rule on as a warning (doesn't affect exit code)
      2 - turn the rule on as an error (exit code is 1 when triggered)
    */
    "rules": {
        "indent": [
            1,
            4
        ],
        "quotes": [
            1,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "camelcase": 2
    },
    "env": {
        "browser": true,
        "node": true,
        "amd": true,
        "es6": false
    },
    "globals": {
        "angular": true
    },
    "plugins": [],
    "extends": "eslint:recommended"
}
