Package: {{productName}}
Replaces: {{name}}
Version: {{version}}
Architecture: {{arch}}
Maintainer: {{author}}
Installed-Size: {{size}}
Priority: optional
Homepage: {{homepage}}
Description: {{description}}
